* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgb(244, 244, 244);
    color: rgb(0, 0, 0);

}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 70%;
    margin: 0 auto;
}

/* header */

.bloco {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.cabecalho {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 15px 0;
    width: 100%;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a {
    color: blue;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* --------------- sections ------------------- */

section {
    padding: 40px 0;
}

.sobre {
    background-color: rgb(232, 232, 247);
    padding: 90px 0;
    padding-bottom: 30px;
    display: flex;
}

.sobre .bloco .imagem img{
    border-radius: 50%;
}

.sobre .bloco {
    display: flex;
    gap: 30px;
}

.bloco .texto {
    margin: auto 0;
}

.sobre .bloco p {
    margin: 20px 0
}

/* ----------------- habilidade -------------------- */

.habilidades {
    margin-top: 5rem;
}

.habilidades h2{
    text-align: center;
    margin-bottom: 20px;
}

.habilidades .bloco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.habilidades .bloco02 {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.icon img{
    width: 10%;
}

.habilidade {
    text-align: center;
}

.habilidade ol {
    list-style-position: inside;
}


/* --------------------- footer ------------------------*/

.contato {
    background-color: rgb(144, 144, 175);
    text-align: center;
    padding: 35px 0;
}

.contato h4{
    margin: 8px 0;
}

.contato a {
    margin: 30px 0;
}

/* -------------------------------- Projetos ---------------------------------------*/

.projetos {
    padding: 50px 0px;
}

.projetos hr {
    width: 0%;
    margin: 50px auto;
}

.projetos h1 {
    text-align: center;
    margin: 30px 0;
}

.bloco-projetos {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}

.projeto {
    background-color: rgb(193, 193, 204);
    max-width: 100%;
    border-radius: 10%;
    text-align: center;
    transition-duration: 0.5s;
    transition-property: all;
}

.projeto:hover {
    transform: scale(1.15);
}

.projeto img{
    width: 100%;
    height: 60%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.projeto p {
    margin: 0 4px;
    max-height: 100%;
}

.sobre .bloco .imagem-faculdade img{
    border-radius: 15%;
}


/* --------------------- celular ---------------------------------*/

@media screen and (max-width: 1050px){
    /* ------------- projetos --------------------------*/

    .bloco-projetos {
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;

    }

    .projeto {
        margin: 0 auto;
        min-height: 25rem;
        max-height: 25rem;
        width: 75%;
    }

    .projeto img {
        min-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    /* -------------- menu -----------------*/
    
    img {
        max-width: 90%;
    }
    
    .navegacao {
        flex-direction: column;
    }

    .sobre {
        padding-top: 120px;
        width: 100%;
    }
    
    .sobre .bloco {
        flex-direction: column;
        text-align: center;
    }

    .habilidades .bloco {
        grid-template-columns: 1fr;
        max-width: 75%;
    }

    .habilidades .bloco02 {
        margin: 0 auto;
        grid-template-columns: 1fr;
        max-width: 75%;
    }

    
    /* --------------------- projetos -------------------*/
    .bloco-projetos {
        grid-template-columns: 1fr;
        gap: 100px;
    }

    .projeto {
        min-height: 26rem;
        max-height: 26rem;
        margin: 0 auto;
        width: 65%;

    }

    .projeto img {
        max-height: 13rem;
        min-width: 100%;
    }
}



